@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montel";
  src: url(../public/fonts/Montel.otf);
}

.gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/assets/images/hotel-entry.jpg");
  background-position: center;
  background-size: cover;
}
